@{ 
    DateTime date = DateTime.Now;
}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/lib/bootswatch/lumen/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <meta name="viewport" content="width=device-width" />
    <title> Business Directory - @ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="App" asp-action="Index">BusinessDirectory</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Publicar Negocio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Iniciar Sesion</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    
        
    <footer class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <p class="text-center">Business Directory @date.Year</p>
     </div>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        @RenderSection("scripts", false)
</body>
</html>
