@{ 
    ViewBag.Title = "Publicar Negocio";
}
@section Css{
    <link rel="stylesheet" href="~/css/login.css" />
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgKLg_jKyw9Vz5HUFua2DySWODYBzMIww">
    </script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/js/loadingCircle.js"></script>
    <script src="~/js/publishBusiness-app.js"></script>
    <script src="~/js/publishBusinessController.js"></script>
    <script src="~/js/publishBusinessDetailsController.js"></script>
    <script src="~/js/deleteBusinessController.js"></script>
}

<div ng-app="publishBusiness-app">
    <div ng-view></div>
</div>