/*category.css*/
body{
    background: url('../images/4291.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.margin-category{
    margin-top:20%;
}
